@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: blue;
    font-family: "Work Sans", sans-serif;
}

.textos p{
    font-size: 15px;
}