/* NUM 1 */
/* .ext{
    color: yellow;
    font-size: 40px;
    font-style: italic;
    font-family: Arial;
}
body{
    background-color: green; */




    /* letra A, B, C, D, E, F */
    /* body{
    background-color: aquamarine;
    background-image: url(download.jfif),url(images.jfif),url(images\ \(1\).jfif);
    background-position: top, right, center;
    background-repeat: repeat-x, repeat-y, no-repeat;
    background-attachment: fixed;
    background-size: 7%;
}
.txt{ 
    background-color: rgb(0, 255, 0);
} */

/* letra G */
/* body{
    background-color: yellow;
    background-image: url(download.jfif);
    background-repeat: no-repeat;
    background-size: 10%;
    background-attachment: scroll;
    background-position: center center;
}  */



/* Número 3 */
/* .LetraA{
    font-family: Arial;
    color: red;
}

.LetraB{
    font-family: Times;
    font-size: 22px;
    color: green;
}

.LetraC{
    font-family: Comic Sans Serif;
    font-size: 20px;
    color: blue;
    font-style: italic;
}

.LetraD{
    font-family: Verdana;
    font-size: 14px, medium;
    font-weight: bold;
    color: yellow;
} */