*{
    margin: 0;
}

header{
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.316); 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logoHeader{

    width: 110px;
    height: 110px;
    background-image: url(imagens/SASlogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.caixaLogoHeader{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuHeader{

    width: 500px;
    height: 100px;
    color: #130C37;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menuHeader ul{
    list-style: none;
    display: flex;
    gap: 50px;
    font-weight: 100;
}

.menuHeader a{
    color: #130C37;
    text-decoration: none;
}

.menuHeader a:active{
    color: #130C37;
    text-decoration: none;
}

.menuHeader a:hover{
    color:rgba(37, 37, 37, 0.151);
}

.login{
    text-decoration: none;
    color: #130C37;
}

.bonecoHeader{
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #130C37;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.personagemFoto{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    color: #130C37;
}

.bonecoHover{
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bonecoHover:hover{
    color:rgba(37, 37, 37, 0.151);
    .login{
        color:rgba(37, 37, 37, 0.151);
    }
    .personagemFoto{
        color: rgba(37, 37, 37, 0.151);
    }
} 
