body{
    height: 100vh;
    background-color: black;
    background-image: url(Imagens/wallpaper003.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

main{
    background-color: white;
    width: 400px;
    padding: 10px;
    margin: auto;
    border: 1px solid black;
    border-radius: 10px;
}