@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    list-style: none;
    text-decoration: none;
}

.containerHeader {
    max-width: 2000px;
    width: 100vw;
    display: flex;
    position: relative;
}

header {
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 1.1em;
    padding: 50px;
    margin-left: 100px;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    transform: translate(0%, -50%);
    right: 300px;
    font-size: 1.2em;
    font-weight: 500;
    transition: transform 0.3s ease;
}

a {
    color: black;
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.1);
}

nav ul {
    display: flex;
    gap: 40px;
}

.redeSocialLogo {
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}

.insta, .what {
    width: 30px;
    height: 30px;
}

.insta i, .what i {
    font-size: 30px;
}

.menu-icon {
    display: none;
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
}

@media(max-width: 1200px){
    .logo{
        margin-left: 50px;
    }
}

@media(max-width: 1090px) {
    nav {
        right: 200px;
    }

    .redeSocialLogo {
        right: 20px;
    }
}

@media(max-width: 990px) {
    nav {
        right: 150px;
    }
    .logo{
        margin: 0;
    }
}

@media(max-width: 890px) {
    .menu-icon {
        display: block;
    }

    nav {
        width: 100%;
        height: 100vh;
        z-index: 1000;
        position: absolute;
        top: 140px;
        right: 0;
        background-color: #ffffff;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease, opacity 0.3s ease;
        align-items: start;
        
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    nav ul li{
        border-bottom: 2px solid rgb(0, 0, 0, 0.3);
    }

    nav a{
        width: 300px;
    }

    nav.active {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }



    .redeSocialLogo {
        right: 100px;
    }

    .menu-icon {
        right: 20px;
    }
}
@media(max-width:540px){
    .redeSocialLogo{
        display: none;
    }
    .logo{
        width: 260px;
        font-size: 1.1em;
    }
}

section{
    max-width: 1400px;
    margin: auto; 
    position: relative;
}

.circuloPreto{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    border: none;
    position: absolute;
    top: 50px;
    left: 250px;
}

.containerSectionCentral{
    width: 100%;
    height: 750px;
    background-image: url(Imagens/17594393-projeto-de-ilustracao-do-fotografo-vetor.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 500px;
}

.containerTextoSection{
    width: 55%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.containerCentralTexto{
    h1{
        font-size: 7em;
        font-family: 'Times New Roman', Times, serif;
        font-weight: 600;
        letter-spacing: 0.1px;
    }
    p{
        font-size: 2em;
        font-weight: 500;
        font-family: 'Times New Roman', Times, serif;
    }
    input{
        width: 150px;
        height: 60px;
        background: black;
        color: white;
        font-size: 1.05em;
        margin-top: 40px;
        transition: background 0.3s ease;
        border: 0px;
        
    }
    
    input:hover{
        background-color: #9cebb8;
        color: black;
        font-weight: bold;
        cursor: pointer;
    }
}

@media(max-width:1350px){
    .containerSectionCentral{
        background-size: 400px;
    }
}

@media (max-width: 1280px){
    .containerCentralTexto h1{
        font-size: 6em;
    }
}

@media (max-width: 1100px){
    .containerSectionCentral{
        background-size: 350px;
    }
    .containerTextoSection{
        width: 65%;
    }
}

@media(max-width:985px){
    .containerTextoSection{
        width: 100%;
        height: 500px;
        justify-content: center;
    }
    .containerSectionCentral{
        background-position: bottom;
        height: 1050px;
    }
}

@media(max-width:660px){
    .containerCentralTexto h1{
        font-size: 5em;
    }
    .containerCentralTexto p{
        text-align: center;
    }
    .containerCentralTexto input{
        display: block;
        margin: auto;
        margin-top: 20px;
    }
    .containerCentralTexto h1{
        text-align: center;
    }
}

@media(max-width:560px){
    .containerCentralTexto h1{
        font-size: 4em;
    }
    .containerTextoSection{
        height: 400px;
    }
    .containerSectionCentral{
        height: 950px;
    }
}

@media(max-width:450px){
    .containerCentralTexto h1{
        font-size: 3.5em;
    }
    .containerSectionCentral{
        background-size: 280px;
        height: 830px;
    }
}

@media(max-width:400px){
    .containerCentralTexto h1{
        font-size: 3em;
    }
}